//@import "buttonstylesheet";
$primary:teal;
@import "~bootstrap/scss/bootstrap.scss";
//@import "template";
.result-border{
    
    border: 1px solid black;
    color: $primary;
    width: 200px;
    height: 40px;
}